body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: hidden;

}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;

}

.top-navbar{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    

}
.company-logo{
    display:flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.company-logo img{
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 20px;
}

.company-logo h1{
    font-size: 2rem;
    color: #333;
}
.top-navbar a{
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 16px;
}
.checkbtn{
    font-size: 30px;
    cursor: pointer;
    display: none;
    
}

#check{
    display:none;
}

#check:checked ~ .nav-menu{
    display: block;
}

.top-navbar ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff8c00;
}



.icons img {
    width: 20px;
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icons img:hover {
    transform: scale(1.1);
}
.top-navbar ul li{
    margin: 0 10px;
}



.hero-section {
  background-image: url('main.png');
  height: 500px;
  width: 100%;
  margin: 0, auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* move content to the right */
  
  
}

.hero-section .hero-content {
  background-color: #fff3e0;
  padding: 40px 60px;
  margin-right: 3rem;
  border-radius: 12px;
  width: 420px;
  text-align: left;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hero-section.hero-content p{
    font-size: 16px;
    font-style: bold;
    color: #555;
}
.hero-section .hero-content h2 {
  color: #B88E2F;
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 700;
}

.hero-section .hero-content p {
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;

}

.hero-section .cta-button {
  background-color: #B88E2F;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;

  font-weight: 600;
}
.Collection-section {
    
    text-align: center;
     /* display: grid; */
    grid-template-rows: repeat(1fr);
    align-items: center;
    justify-content: center;
    /* gap: 20px;  */
    margin-top: 4rem;
   
}

.Collection-section .content {
    text-align: center;
    margin-bottom: 3rem;

}

.Collection-section .collection-items {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px; 
}

.Collection-section .collection-items .item {
  
    /* background-color: #fff; */
    margin: 5%; 
    /* border: 0.5px solid #ddd; */
    border-radius: 4% ;
    box-shadow: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Collection-section .collection-items .item img {
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.Products{
    /* width: 100%; */
    /* margin: 50px, auto; */
    margin-top: 4rem;
    text-align: center;
    
    
}

.Products .product-list {
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    gap: 20px; 
    padding-top: 1rem;
}

.Products .product-list .product-item{
    position: relative;
    background-color: #F4F5F7;
    /* padding: 15px; */
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items:start;
    text-align: left;
    
}

.Products .product-list .product-item img {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    margin-bottom: 10px;
}

    .Products .product-list .product-item .offer {
    position: absolute;         
    top: 20px;                   
    right: 20px;                 
    background-color: #2EC1AC;
    border-radius: 50%;        
    color: white;
    padding: 10px;
    width: 40px;                 
    height: 40px;
    display: flex;               
    justify-content: center;
    align-items: center;
    font-weight: medium;
    font-size: 16px;
}

.product-item .info h3 {
    font-size: 24px;
    color: 3A3A3A;
    font-weight: semibold;
}
.Products .product-list .product-item .info{
       margin-left: 20px;
    }
.product-item .info p {
    font-size: 16px;
    color: #898989;
    margin: 10px 0;
    font-weight: medium;
    
}


.product-item .info h4 {
    font-size: 20px;
    color: #3A3A3A;
    font-weight: semibold;
}

.Products .show-button{
background-color: #ffffff;
  color: #B88E2F;
  border:#B88E2F 2px solid ;
  padding: 12px 30px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
 
}

.explore{
    height: 500px;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    background-color: #FCF8F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.explore .explore-content{
    padding: 40px 60px;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    margin: auto;


}

.explore .explore-content h1 {
  color: #000000;
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 700;
}

.explore .explore-content p {
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;

}

.explore .explore-image img{
    width: 400px;
    height:100%;
    border:none;
    margin-bottom: 10px;
}

.explore .explore-button{
    background-color: #a67c00;
    color: #fff;
    padding: 12px 30px;
    border: none;
}

.footer {
    display: grid;
    
   
}

 .footer-section {
     
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr, auto);
}

.footer-section h3 {
    margin-bottom: 15px;
    /* font-size: 20px; */
    color: #000000; 
}
.address{
    margin-right: 20px;
}
.address p {
    color: #9F9F9F;
    line-height: 1.6;
    font-size: 16px;
   word-wrap: break-all;
}

.links, .help {
    display: flex;
    flex-direction: column;

} 

.links, .help a {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: medium;
}

.links, .help , .newsletter, h3{
    color: #9F9F9F;
}

.help{
    gap: 0.5rem;
    text-align: center;   
}

.footer-section a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}



.footer-section a:hover {
    color: #ff8c00;
}


.newsletter {
   
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter input {
    padding: 8px;
    border: none;
    width: 150px;
}
.newsletter h3 {
    /* margin-bottom: 10px; */
    font-weight: medium;
    /* font-size: 16px; */
    color: #000000;
}




.email {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  max-width: 400px;
}

.email input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px 0;
  font-size: 14px;
}

.email input::placeholder {
  color: #aaa;
}

.email button {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
  border-bottom: 2px solid transparent;
}

.email button:hover {
  border-bottom: 2px solid #000;
}


/* .grid-info{
    display: grid;
    gap: 20px;
    margin-top: 30px;
}

.grid-info .grid-items{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: repeat(2, auto);
    background-color: #945d5d;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    gap:30px
} */







@media screen and (max-width: 992px){
    .Collection-section .collection-items,
    .Products .product-list {
        flex-direction: column;
        align-items: center;
       
    }

    .Products .product-list {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px, 0px;
        
    }

     

   
    
    .footer {
        display: grid;
       
    }

    .footer .footer-section {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-left: 40px;
    }

    .explore .content{
        width: 100%;
        margin: 20px;}

        /* .Products .product-list .product-item{
        
        flex: 1;
        } */
    
}

@media screen and (max-width: 768px){
   .checkbtn {
        display: block; 
    }

    .top-navbar ul {
        display: none; 
    }
    

    #check:checked ~ .nav-menu {
        display: block;
    }

    .nav-menu {
        position: absolute;
        border-radius: 8px;
        background-color: #fff;
        top: 70px;
        right: 10px;
        margin-top: 2rem;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
        display: none;
    }

     

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .icons {
        gap: 10px;
    }


    .hero-section {
        height: 450px;
    }

    .hero-section .hero-content {
        width: 80%;
        padding: 30px 20px;
    }



    .explore{
        flex-direction: column;
    }

    .explore .explore-image img{
        width: 200px;
    
        border:none;
        margin-bottom: 10px;
    }  
    
    
    .Collection-section .collection-items,
    .Products .product-list {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        /* /* gap: 20px; */
    }
    .Products .product-list .product-item .info{
       margin-left: 20px;
    }

    .footer-section .email input, .email button{
        display: block;
    }
    
}

@media screen and (max-width: 600px) {
     .checkbtn {
        display: block; 
    }

    .top-navbar ul {
        display: none; 
    }
    

    #check:checked ~ .nav-menu {
        display: block;
    }

    .nav-menu {
        position: absolute;
        border-radius: 8px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
        display: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .icons {
        gap: 10px;
    }


    .hero-section {
        height: 400px;
        padding-right: 20px;
        justify-content: center; 
    }

    .hero-section .hero-content {
        width: 90%;
        padding: 30px 20px;
    }

   .Products .product-list {
       
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1rem; 
  justify-items: center;
  align-items: center;
 
 
   }

   .Products .product-list .product-item{
    width: 90%;
    
   }

   .Products .product-list .product-item .info{
       margin-left: 20px;
    }
    

    .Products .product-list .product-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }
   

   .Collection-section .collection-items {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  

}



   .explore{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   }
    .footer{
        flex-direction: column;
        align-items: center;
        align-items: center;
        row-gap: 30px;
    }

    .footer .footer-section {
      align-items: center;
    }

    .links, .help, .newsletter{
        align-items: center;
    }

   

   
    
} 

@media screen and (max-width: 480px){
     .checkbtn {
        display: block; 
    }

    .top-navbar ul {
        display: none; 
    }
    

    #check:checked ~ .nav-menu {
        display: block;
    }

    .nav-menu {
        position: absolute;
        border-radius: 8px;
        box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
        display: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .icons {
        display: none;
    }

    .explore{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   }
   .Collection-section .collection-items{
    gap: 0px;
   }
   
   .Collection-section .collection-items .item{
    border: none;
   }

   .Products .product-list .product-item{
    padding: 0%;
   }
   /* .prodict-item .info{
    margin-left: 5%;

   } */

    

    .Products .product-list .product-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }
   

  
.help{
    gap: 0.5rem;
    text-align: start;   
}

    .footer{
        flex-direction: column;
        align-items: center;
        align-items: center;
        row-gap: 30px;
    }

    .footer .footer-section {
      align-items: center;
    }

    .links, .help , .newsletter {
        align-items: center;
    }

    .newsletter .email{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
}

.footer-section{
    padding: 40px 20px;
    margin-left: 80px;
}

.footer-section .help{
    display: flex;
    align-items: flex-start;
}
.newsletter {
    display: flex;
    flex-direction: column;
   

}



.newsletter input{
    width: 150px;
}

.newsletter ::placeholder{
    font-size: 12px;
}


.newsletter button{
    margin-top: 10px;
  

}




    


